.home{
    font-size: 3rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & button{
        padding: 10px 1rem;
    cursor: pointer;
    }
}