.userproduct, .adminproduct{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    & .product{
        background-color: rgb(236, 227, 227);
        padding: 1rem;
        text-align: center;
    }
    & .productName{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}